
@{
    ViewData["Title"] = "Index";
}

<!-- PRODUCTS START -->

<section id="products">
    <div class="container">
       
        <div class="row parent">
            @await Component.InvokeAsync("Product",12);
            @*<partial name="_productPartial"/>*@
            @*@foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center">
                        <div class="img">
                            <a href="">
                                <img src="~/img/@product.Images.ElementAt(0).Image" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>
                                @product.Name
                            </h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">$@product.Price</span>
                        </div>
                    </div>
                </div>
            }*@

           
        </div>
        <div class="row my-3 justify-content-center">
            <input type="hidden" id="productCount" value="@ViewBag.ProductCount"/>
            <button class="btn btn-primary" id="loadMore">Load More</button>
        </div>
    </div>
</section>

<!-- PRODUCTS END -->
